@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #021535;
  font-family: 'Raleway', sans-serif;
}

a {
  color: #021535;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

h1, h2, p, span {
  padding-bottom: 3%;
}

li {
  list-style: none;
}

/**MENU SERVICE*/

.menu-service-container {
  width: 100vw;
  height: 70px;
  line-height: 70px;
  background-color: #f2f5f9;
  border-bottom: 1px solid #d0d3d8;
  position: fixed;
}

.menu-service, .menu-sections, .service-explanation, .service-solutions, .service-numbers {
  width: 60%;
  margin: auto;
}

.menu-service > ul:first-child {
  float: left;
}

.menu-service > ul:last-child, .menu-sections > ul {
  float: right;
}

.menu-service > ul:first-child > li:first-child > a:before, .menu-service > ul:first-child > li:first-child > a:after, .menu-service > ul:last-child > li:first-child:before, .menu-sections > ul > li:not(:nth-child(2)) > a:after, .service-solutions li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding-right: 10px;
}

.menu-service > ul:first-child > li:first-child > a:before {
  color: #021535;
  content:"\f7a2";
}

.menu-service > ul:first-child > li:first-child > a:after, .menu-sections > ul > li:not(:nth-child(2)) > a:after {
  color: #99b8c6;
  content:"\f0d7";
  padding-left: 10px;
}

.menu-service > ul:first-child > li:last-child {
  border-left: 2px solid #d0d3d8;
  padding-left: 10px;
}

.menu-service > ul:last-child > li:first-child > a {
  color: #00c2c2;
}

.menu-service > ul > li {
  height: 25px;
  line-height: 25px;
  display: inline-block;
  padding-right: 10px;
}

.menu-service > ul:first-child > li > a {
  padding: 20% 0;
}

/**MENU SECTIONS**/

.menu-sections-container {
  width: 100vw;
  height: 160px;
  line-height: 90px;
  background-color: #FFF;
  padding-top: 70px;
}

.menu-sections > a > img {
  width: 100px;
  display: block;
  padding: 2.5% 0;
  float: left;
}

.menu-sections > ul > li {
  display: inline-block;
  padding: 0 15px;
}

.menu-sections > ul > li > a {
  height: 100%;
  font-size: 15px;
  padding: 30% 0;
}

/**SERVICE EXPLANATION**/

.service-explanation-container, .service-numbers-container {
  width: 100vw;
  color: #FFF;
  background: linear-gradient(#02b8d1, #016b7a);
}

.explainer {
  width: 500px;
  padding: 10% 0;
}

.explainer > h1 {
  font-size: 60px;
}

.explainer > p {
  line-height: 25px;
}

.explainer > p:last-child {
  font-size: 12px;
  width: 40%;
}

.explainer > a {
  width: 220px;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  display: block;
  margin-right: auto;
  margin-bottom: 20px;
}

/**SERVICE SOLUTIONS**/

.service-solutions-container {
  width: 100vw;
  background-color: #EEE;
}

.service-solutions {
  padding: 8% 0;
}

.service-row, .service-col {
  width: 80%;
  margin: auto;
}

.service-col {
  content:"";
  display: table;
  clear: both;
  padding-top: 4%;
}

.row-top {
  text-align: center;
}

.service-img {
  display: block;
  margin: auto;
  padding-bottom: 3%;
}

.row-top > img {
  width: 250px;
}

.bg-white {
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0 0 20px #DDD;
}

.bg-white:hover {
  transform: scale(1.01);
  box-shadow: 0 0 30px #DDD;
  transition: 0.3s;
}

.row-bottom {
  height: 250px;
}

.row-bottom > .row-divisor {
  float: left;
}

.row-bottom > .row-divisor:first-child {
  width: 30%;
  padding: 20px 0;
}

.row-bottom > .row-divisor:last-child {
  width: 500px;
  float: left;
  padding: 20px 60px;
}

.row-divisor > img, .col-divisor > img {
  width: 200px;
}

.row-divisor > a {
  width: 120px;
  text-align: center;
  margin: auto;
  display: block;
}

.row-divisor > span, .col-divisor > span {
  font-weight: bold;
  display: block;
}

.row-divisor span:after {
  width: 10%;
  height: 10px;
  border-bottom: 1px solid #d0d3d8;
  content:"";
  position: absolute;
  margin-left: 10px;
}

.row-divisor > ul > li {
  display: inline-block;
  padding-right: 20px;
}

.service-col {
  text-align: center;
}

.col-divisor {
  padding-top: 10%;
}

.col-divisor > p {
  width: 80%;
  text-align: justify;
  margin: auto;
}

.col-divisor > ul {
  width: 70%;
  text-align: left;
  margin: auto;
}

.col-divisor > ul > li{
  padding-bottom: 2%;
}

.col-divisor > a {
  width: 150px;
  display: block;
  margin: 10% auto;
}

.col > .col-divisor:first-child:after {
  border-bottom: 1px solid #d0d3d8;
  content:"";
}

.service-col > .col {
  width: 30%;
  float: left;
}

.service-col > .col-middle {
  margin: 0 5%;
}

.service-solutions li:before {
  color: #ff784f;
  content:"\f058";
}

.service-solutions h1, .service-solutions h2, .service-solutions p, .service-solutions span {
  padding-bottom: 5%;
}

/**SERVICE NUMBERS**/

.service-numbers {
  text-align: center;
}

.numbers {
  width: 100%;
  content:"";
  display: table;
  clear: both;
}

.box {
  width: 25%;
  padding: 5%;
  float: left;
}

 .numbers > .box:not(:nth-child(4)):not(:last-child) {
  border-right: 1px solid #FFF;
 }

 .numbers > .box:not(:nth-child(5)):not(:nth-child(6)):not(:nth-child(7)):not(:last-child) {
  border-bottom: 1px solid #FFF;
 }




























/**BUTTONS**/

.btn-orange-border {
  color: #ff784f;
  background-color: #FFF;
  border: 1px solid #ff784f;
  border-radius: 3px;
  padding: 10px;
}

.btn-orange-border:hover {
  background-color: #ffebe5;
  transition: 0.3s;
}

.btn-orange {
  color: #FFF;
  background-color: #ff784f;
  border-radius: 3px;
  padding: 10px 20px;
}

.btn-orange:hover {
  background-color: #fc9779;
  transition: 0.3s;
}

.btn-white {
  background-color: #FFF;
  border-radius: 3px;
  padding: 20px;
}

.btn-white:hover {
  background-color: #EEE;
  transition: 0.3s;
}
