@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #021535;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

a {
  color: #021535;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

h1, h2, p, span {
  padding-bottom: 3%;
}

li {
  list-style: none;
}

/**MENU SERVICE*/

.menu-service-container {
  width: 100vw;
  height: 70px;
  line-height: 70px;
  background-color: #f2f5f9;
  border-bottom: 1px solid #d0d3d8;
  position: fixed;
}

.menu-service, .menu-sections, .service-explanation, .service-solutions, .service-numbers, .service-clients, .service-testimonial, .service-footer {
  width: 60%;
  margin: auto;
}

.menu-service > ul:first-child {
  float: left;
}

.menu-service > ul:last-child, .menu-sections > ul {
  float: right;
}

.menu-service > ul:first-child > li:first-child > a:before, .menu-service > ul:first-child > li:first-child > a:after, .menu-service > ul:last-child > li:first-child:before, .menu-sections > ul > li:not(:nth-child(2)) > a:after, .service-solutions li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding-right: 10px;
}

.menu-service > ul:first-child > li:first-child > a:before {
  color: #021535;
  content:"\f7a2";
}

.menu-service > ul:first-child > li:first-child > a:after, .menu-sections > ul > li:not(:nth-child(2)) > a:after {
  color: #99b8c6;
  content:"\f0d7";
  padding-left: 10px;
}

.menu-service > ul:first-child > li:last-child {
  border-left: 2px solid #d0d3d8;
  padding-left: 10px;
}

.menu-service > ul:last-child > li:first-child > a {
  color: #00c2c2;
}

.menu-service > ul > li {
  height: 25px;
  line-height: 25px;
  display: inline-block;
  padding-right: 10px;
}

.menu-service > ul:first-child > li > a {
  padding: 20% 0;
}

/**MENU SECTIONS**/

.menu-sections-container {
  width: 100vw;
  height: 160px;
  line-height: 90px;
  background-color: #FFF;
  padding-top: 70px;
}

.menu-sections > a > img {
  width: 100px;
  display: block;
  padding: 2.5% 0;
  float: left;
}

.menu-sections > ul > li {
  display: inline-block;
  padding: 0 15px;
}

.menu-sections > ul > li > a {
  height: 100%;
  font-size: 15px;
  padding: 30% 0;
}

/**SERVICE EXPLANATION**/

.service-explanation-container, .service-numbers-container {
  width: 100vw;
  color: #FFF;
  background: linear-gradient(#02b8d1, #016b7a);
}

.explainer {
  width: 500px;
  padding: 10% 0;
}

.explainer > h1 {
  font-size: 60px;
}

.explainer > p {
  line-height: 25px;
}

.explainer > p:last-child {
  font-size: 12px;
  width: 40%;
}

.explainer > a {
  width: 220px;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  display: block;
  margin-right: auto;
  margin-bottom: 20px;
}

/**SERVICE SOLUTIONS**/

.service-solutions-container, .service-clients-container, .service-testimonial-container {
  width: 100vw;
  background-color: #EEE;
}

.service-solutions {
  padding: 8% 0;
}

.service-row, .service-col {
  width: 80%;
  margin: auto;
}

.service-col {
  content:"";
  display: table;
  clear: both;
  padding-top: 4%;
}

.row-top {
  text-align: center;
}

.service-img {
  display: block;
  margin: auto;
  padding-bottom: 3%;
}

.row-top > img {
  width: 250px;
}

.bg-white {
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0 0 20px #DDD;
}

.bg-white:hover {
  transform: scale(1.01);
  box-shadow: 0 0 30px #DDD;
  transition: 0.3s;
  z-index: -1;
}

.row-bottom {
  height: 250px;
}

.row-bottom > .row-divisor {
  float: left;
}

.row-bottom > .row-divisor:first-child {
  width: 30%;
  padding: 20px 0;
}

.row-bottom > .row-divisor:last-child {
  width: 500px;
  float: left;
  padding: 20px 60px;
}

.row-divisor > img, .col-divisor > img {
  width: 200px;
}

.row-divisor > a {
  width: 120px;
  text-align: center;
  margin: auto;
  display: block;
}

.row-divisor > span, .col-divisor > span {
  font-weight: bold;
  display: block;
}

.row-divisor span:after {
  width: 10%;
  height: 10px;
  border-bottom: 1px solid #d0d3d8;
  content:"";
  position: absolute;
  margin-left: 10px;
}

.row-divisor > ul > li {
  display: inline-block;
  padding-right: 20px;
}

.service-col {
  text-align: center;
}

.col-divisor {
  padding-top: 10%;
}

.col-divisor > p {
  width: 80%;
  text-align: justify;
  margin: auto;
}

.col-divisor > ul {
  width: 70%;
  text-align: left;
  margin: auto;
}

.col-divisor > ul > li{
  padding-bottom: 2%;
}

.col-divisor > a {
  width: 150px;
  display: block;
  margin: 10% auto;
}

.col > .col-divisor:first-child:after {
  border-bottom: 1px solid #d0d3d8;
  content:"";
}

.service-col > .col {
  width: 30%;
  float: left;
}

.service-col > .col-middle {
  margin: 0 5%;
}

.service-solutions li:before {
  color: #ff784f;
  content:"\f058";
}

.service-solutions h1, .service-solutions h2, .service-solutions p, .service-solutions span {
  padding-bottom: 5%;
}

/**SERVICE NUMBERS**/

.service-numbers {
  width: 50%;
  text-align: center;
  padding: 6% 0;
}

.numbers {
  width: 100%;
  content:"";
  display: table;
  clear: both;
  padding-top: 5%;
}

.box {
  width: 25%;
  padding: 5% 2%;
  float: left;
}

 .numbers > .box:not(:nth-child(4)):not(:last-child) {
  border-right: 1px solid #FFF;
 }

 .numbers > .box:not(:nth-child(5)):not(:nth-child(6)):not(:nth-child(7)):not(:last-child) {
  border-bottom: 1px solid #FFF;
 }

/**SERVICE CLIENTS**/

.service-clients, .service-testimonial {
  content:"";
  display: table;
  clear: both;
  padding: 5% 0;
}

.clients {
  width: 20%;
  float: left;
  margin-right: 10%;
}

.clients h1 {
  font-size: 45px;
}

.clients p {
  line-height: 2;
}

.clients-logos {
  width: 60%;
  float: right;
}

.clients-logos img {
  width: 20%;
  padding: 0 50px 50px 0;
}

/**SERVICE TESTIMONIAL**/

.service-testimonial {
  padding: 2% 0;
  position: relative;
}

.service-testimonial > .explainer {
  float: left;
}

.service-testimonial > .explainer > h1 {
  font-size: 35px;
}

.service-testimonial > .explainer > p {
  width: 100%;
}

.testimonial-img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #ff4476;
  overflow: hidden;
  margin-left: auto;
}

.testimonial-img > img {
  width: 400px;
}

/**so che il modo più corretto sarebbe creare una png
con i cerchi rosa, ma ho voluto fare una prova con
i simboli e le positions (ho posizionato gli elementi
aiutandomi con l'inspector)**/

.circles {
  width: 30%;
  height: 20%;
  color: #ff4476;
  position: absolute;
  top: 393px;
  right: 31px;
}

.circles div {
  position: absolute;
}

.circles div:first-child {
  top: 10px;
  right: 251px;
}

.circles div:nth-child(2) {
  top: 43px;
  right: 171px;
}

.circles div:nth-child(3) {
  top: -17px;
  right: 131px;
}

.circles div:last-child {
  top: 22px;
  right: 71px;
}

.circle > ul > li {
  display: block;
  padding-bottom: 20px;
}

/*fine circles*/

/**SERVICE-FOOTER**/

footer {
  width: 100vw;
  color: #FFF;
  background-color: #475c72;
  content: "";
  display: table;
  clear: both;
}

.service-footer {
  padding: 5% 0;
}

.footer-links {
  width: 100%;
}

.service-footer li, .service-footer h3 {
  padding-bottom: 8%;
}

.service-footer a {
  color: #e5f7ff;
}

.service-footer a:hover {
  color: #b2e7ff;
}

.footer-col {
  width: 20%;
  float: left;
  margin: 0 2.5%;
}

.footer-col .btn-white {
  width: 90%;
  color: #021535;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  display: block;
}

.footer-col .btn-white:hover {
  color: #021535;
}

.social li, .footer-languages li, .footer-legal-links li {
  display: inline-block;
}

.social a {
  font-size: 20px;
  padding-right: 10px;
}

.footer-languages {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #e5f7ff;
  padding-bottom: 4%;
}

.footer-languages li {
  padding: 5% 5% 0 0;
}

.footer-legal {
  width: 100%;
  padding-top: 2%;
}

.footer-logo {
  width: 30%;
  height: 100%;
  float: left;
}

.footer-logo img {
  width: 100px;
  padding: 2.5% 0;
  display: block;
}

.footer-logo p {
  font-size: 12px;
  padding: 2% 0;
}

.footer-legal-links {
  text-align: right;
}

.footer-legal-links li {
  padding-right: 5%;
}

/**BUTTONS**/

.btn-orange-border {
  color: #ff784f;
  background-color: #FFF;
  border: 1px solid #ff784f;
  border-radius: 3px;
  padding: 10px;
}

.btn-orange-border:hover {
  background-color: #ffebe5;
  transition: 0.3s;
}

.btn-orange {
  color: #FFF;
  background-color: #ff784f;
  border-radius: 3px;
  padding: 10px 20px;
}

.btn-orange:hover {
  background-color: #fc9779;
  transition: 0.3s;
}

.btn-white {
  background-color: #FFF;
  border-radius: 3px;
  padding: 20px;
}

.btn-white:hover {
  background-color: #EEE;
  transition: 0.3s;
}
